h1,
.h1 {
}

h2,
.h2 {
  font-size: 34px;
  font-weight: 900;
  line-height: 1.12;
  color: $primary;
  margin-bottom: 25px;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

h6,
.h6 {
}

p,
.p {
  font-size: 16px;
  line-height: 1.28;
  
  &.md {
    font-size: 14px;
    line-height: 1;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.text-gray {
  color: $gray;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
