/* Bootstrap */

.btn {
  border-radius: 0;
  padding: 11px 10px;
  font-weight: 700;
  font-size: 14px;
}

.custom-radio {
  padding-left: 0;
  
  .custom-control-input:checked ~ .custom-control-label {
    
    &:before {
      background: #fff;
      border: 1px solid #ACACAC;
    }
    
    &:after {
      opacity: 1;
      background: $primary;
    }
  }
  
  .custom-control-label {
    font-size: 18px;
    line-height: 1;
    color: $gray;
    display: flex;
    align-items: center;
    
    &:before {
      background: #fff;
      border: 1px solid #ACACAC;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      position: relative;
      margin-right: 15px;
      flex-shrink: 0;
    }
    
    &:after {
      background: $primary;
      top: 1px;
      left: 1px;
      border: 4px solid #fff;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      opacity: 0;
      flex-shrink: 0;
    }
  }
}

.custom-checkbox {
  padding-left: 0;
  
  .custom-control-input:checked ~ .custom-control-label {
    
    &:before {
      background: #fff;
      border: 1px solid $primary;
      background: url(../img/check.svg) no-repeat center;
    }
  }
  
  .custom-control-label {
    font-size: 14px;
    line-height: 1;
    color: $dark;
    display: flex;
    align-items: center;
    
    &:before {
      background: #fff;
      border: 1px solid #ACACAC;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      position: relative;
      margin-right: 15px;
      border-radius: 0;
      flex-shrink: 0;
    }
    
    &:after {
      display: none;
    }
  }
}

.custom-file {
  height: auto;
  margin-right: 15px;
  margin-bottom: 10px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    margin-right: 0;
  }
  
  .custom-file-input {
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .custom-file-label {
    font-size: 12px;
    line-height: 1.03;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 0;
    text-align: center;
    height: auto;
    padding: 11px 40px;
    margin-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;

    @include media-breakpoint-down(sm) {
      padding: 7px 60px;
      min-height: 40px;
    }
    
    &:before, &:after {
      display: none;
    }
  }
  
  &--photo {
  
    .custom-file-label {
      min-height: 176px;
      line-height: 1.6;
      max-width: 166px;
    }
  }
}


/* Slim Select */

.ss-main .ss-single-selected {
  border: 1px solid #ACACAC;
  border-radius: 0;
  height: 48px;
}

.ss-main .ss-single-selected .ss-arrow {
  margin: 0 12px;
}

.ss-main .ss-single-selected .ss-arrow span {
  border-color: $primary;
  border-width: 0 1px 1px 0;
  padding: 4px;
}

.ss-main .ss-single-selected .placeholder {
  padding-left: 13px;
  font-size: 14px;
  color: $dark;
}


/* Datepicker */

div.ui-datepicker {
  z-index: 99999 !important;
  margin-top: 10px;
  padding: 0;
  width: 345px;
  font-family: $font-family-sans-serif;
  background: #fff;
  border: 0 !important;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);

  @include media-breakpoint-down(sm) {
    left: 50% !important;
    margin-left: -172.5px !important;
  }

  .ui-datepicker-header {
    padding: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0;
  }

  .ui-datepicker-title {
    font-size: 13px;
    line-height: 1.54;
    font-weight: 700;
    text-transform: uppercase;
    color: #252627;
  }

  .ui-datepicker-prev {
    top: 50%;
    left: 30px;
    margin-top: -5px;
    width: 7px;
    height: 10px;
    background: url(../img/calendar-arrow.svg) no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-next {
    top: 50%;
    right: 30px;
    margin-top: -5px;
    width: 7px;
    height: 10px;
    background: url(../img/calendar-arrow.svg) no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-calendar {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;

    tr {
    }

    th {
      padding-top: 10px;
      padding-bottom: 20px;
      height: 60px;
      font-size: 10px;
      line-height: .88;
      font-weight: 900;
      letter-spacing: .9px;
      text-transform: uppercase;
      color: #5c626b;
      border-bottom: 1px solid fade($primary, 20%);

      &.ui-datepicker-week-end {
        color: #ff2d2d;
      }
    }

    td {
      width: 35px !important;
      height: 40px;
    }
  }

  .ui-state-default {
    margin: 0 auto;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #252627;
    background: transparent;
    border: 0;
    border-radius: 50%;
  }

  .ui-state-active {
    background: $primary;
  }

  .ui-datepicker-today {
    .ui-state-default {
      background: #eaeaea;
    }
  }

  .selected {
    position: relative;

    .ui-state-default {
      color: #fff;
      background: $primary;
    }
  }

  .ui-icon {
    background: transparent !important;
  }

  .ui-datepicker-week-end {
    .ui-state-default {
      color: #ff2d2d;
    }

    &.selected {
      .ui-state-default {
        color: #fff;
      }
    }
  }

  .ui-datepicker-buttonpane {
    button {
      padding: 0 10px !important;
      width: auto !important;
    }
  }

  .ui-datepicker-month {
    width: 100px;
    height: 30px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-year {
    margin-left: 5px;
    display: inline-flex;
    width: 100px;
    height: 30px;
    align-items: center;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    line-height: 30px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-button {
    margin: 15px auto 10px;
    display: block;
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    cursor: pointer;

    @include transition;

    &:hover {
      color: #fff;
      background: $black;
    }
  }
}
