
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/select/select.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug