.input {
  border: 1px solid #ACACAC;
  height: 48px;
  font-size: 14px;
  padding-left: 18px;
  border-radius: 0;
  @include placeholder(#aeaeae);

  @include media-breakpoint-down(sm) {
    height: 40px;
  }
  
  &:focus {
    box-shadow: none;
    outline: none;
  }
  
  &--calendar {
    background: url(../img/calendar-icon.svg) no-repeat right 16px center;
  }
}
