mixin footer(data)
  .footer&attributes(attributes)
    .footer__top
      .container
        h2 Спонсоры и партнеры
        .footer__partners-wrapper
          .footer__partner
            .footer__partner-header Стратегический партнер
            a.footer__partner-logo(href="#")
              img.img-fluid(src="./img/partner-1.png", alt)
          .footer__partner
            .footer__partner-header Официальный партнер
            a.footer__partner-logo(href="#")
              img.img-fluid(src="./img/partner-2.png", alt)
    .footer__bottom
      .container
        .footer__partners-wrapper
          .footer__partner
            .footer__partner-header.footer__partner-header--big Организаторы:
            a.footer__partner-logo(href="#")
              img.img-fluid(src="./img/partner-3.png", alt)
            a.footer__partner-logo(href="#")
              img.img-fluid(src="./img/partner-4.png", alt)
          .footer__partner
            .footer__partner-header.footer__partner-header--big Оператор:
            a.footer__partner-logo(href="#")
              img.img-fluid(src="./img/partner-5.png", alt)
        .footer__copyright © ООО «Бизнес Ивент», Все права защищены. При использовании материалов прямая текстовая ссылка на 
          a(href="mailto:tashkent.bigindustrialweek.com") tashkent.bigindustrialweek.com 
          | — обязательна.
