.footer {
   border-top: 50px solid $primary;
  
  &__top {
    padding-top: 32px;
    padding-bottom: 35px;
  }
  
  &__partners-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__partner {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-shrink: 0;
      flex-direction: column;
    }
    
    &+& {
      margin-left: 50px;

      @include media-breakpoint-down(sm) {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }

  &__partner-header {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    max-width: 170px;
    text-align: center;
    margin-right: 40px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      margin-right: 0;
    }
    
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 34px;
      background: url(../img/calendar-arrow.svg) no-repeat center;
      background-size: contain;
      flex-shrink: 0;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    
    &--big {
      font-size: 20px;
      font-weight: 900;
      margin-right: 20px;
      
      &:after {
        display: none;
      }
    }
  }
  
  &__partner-logo {
    max-width: 193px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-shrink: 0;
    }
    
    &+& {
      margin-left: 20px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  &__bottom {
    background: #f1f1f3;
    padding: 15px 0 10px;
  }
  
  &__copyright {
    font-size: 14px;
    color: $gray;
    padding: 15px 0 10px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}
