extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="registration-ru.html", style="font-size: 20px;") Registration RU
          li(style="list-style: none;")
            a.d-block.my-20(href="registration-en.html", style="font-size: 20px;") Registration EN
