extends ../templates/template.pug
block content
  +header
  form.form.mt-10.mt-sm-40.mb-50(action="#", method="POST")
    .container
      h2 Регистрация
      .form__section.mt-20
        .row
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Фамилия
              input.input.form-control(type="text")
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Имя
              input.input.form-control(type="text")
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Отчество
              input.input.form-control(type="text")
        .row
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label.mb-20 Пол
              .d-flex.justify-content-sm-between
                .custom-control.custom-radio.mr-sm-35.mr-60
                  input#customRadio1.custom-control-input(type='radio' name='sex', checked)
                  label.custom-control-label(for='customRadio1') Муж.
                .custom-control.custom-radio.mr-35
                  input#customRadio2.custom-control-input(type='radio' name='sex')
                  label.custom-control-label(for='customRadio2') Жен.
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label E-mail
              input.input.form-control(type="text", placeholder="sample@sample.com")
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Мобильный телефон
              input.input.form-control(type="text", placeholder="+7 (___) ___ - __ - __")
        .row
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Гражданство
              +select
                option Россия
                option Беларусь
                option Украина
          .col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Дата рождения
              input.input.input--calendar.form-control(type="text", placeholder="ДД.ММ.ГГГГ")
        .row
          .col-xl-2.col-lg-3.col-md-4.col-sm-6
            .custom-file.custom-file--photo
              input#customFile1.custom-file-input(type='file')
              label.custom-file-label(for='customFile1') Загрузите фотографию профиля
      .form__section
        h5 Паспортные данные
        .row
          .col-lg-6
            .form__item.form-group
              .form__label Место рождения
              input.input.form-control(type="text", placeholder="Как в паспорте")
          .col-xl-2.col-lg-3.col-6
            .form__item.form-group
              .form__label Серия паспорта
              input.input.form-control(type="text", placeholder="__ - __")
          .col-xl-2.col-lg-3.col-6
            .form__item.form-group
              .form__label Номер паспорта
              input.input.form-control(type="text", placeholder="__ - __")
        .row
          .col-lg-6
            .form__item.form-group
              .form__label Адрес регистрации (по паспорту)
              input.input.form-control(type="text")
        .row
          .col-lg-6
            .form__item.form-group
              .form__label Кем выдан паспорт
              input.input.form-control(type="text")
          .col-xl-2.col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Дата выдачи паспорта
              .row
                .col-6.col-sm-12
                  input.input.form-control(type="text")
          .col-xl-2.col-lg-3.col-sm-6
            .form__item.form-group
              .form__label Код подразделения
              .row
                .col-6.col-sm-12
                  input.input.form-control(type="text", placeholder="___ - ___")
        .form__item.form-group
          .form__label.mb-15 Скан первой страницы паспорта/ID (с 2 сторон)*
          .row
            .col-xl-3.col-lg-4
              .custom-file
                input#customFile2.custom-file-input(type='file')
                label.custom-file-label(for='customFile2') Выберите один или несколько файлов
            .form__file
              span.form__file-name My_ID_scann2. pdf
              a.form__file-remove(href="#")
      .form__section
        h5 Карьера
        .row
          .col-lg-6
            .form__item.form-group
              .form__label Место работы
              input.input.form-control(type="text")
        .row
          .col-lg-6
            .form__item.form-group
              .form__label Должность
              input.input.form-control(type="text")
      .form__accordion
        .row
          .col-xl-3.col-lg-4
            a.btn.btn-outline-primary.w-100.form__accordion-btn(href="#") + Добавить автомобиль
        .form__accordion-content
          .form__section
            h5 Данные на автомобиль и водителя
            .row
              .col-lg-3.col-sm-6
                .form__item.form-group
                  .form__label Номер автомобиля
                  input.input.form-control(type="text")
            .row
              .col-lg-6
                .form__item.form-group
                  .form__label ФИО Водителя
                  input.input.form-control(type="text")
            .row
              .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-8
                .custom-file.custom-file--photo
                  input#customFile1.custom-file-input(type='file')
                  label.custom-file-label(for='customFile1') Загрузите фотографию водителя
          .form__section
            h5 Паспортные данные водителя
            .row
              .col-lg-6
                .form__item.form-group
                  .form__label Место рождения
                  input.input.form-control(type="text", placeholder="Как в паспорте")
              .col-xl-2.col-lg-3.col-6
                .form__item.form-group
                  .form__label Серия паспорта
                  input.input.form-control(type="text", placeholder="__ - __")
              .col-xl-2.col-lg-3.col-6
                .form__item.form-group
                  .form__label Номер паспорта
                  input.input.form-control(type="text", placeholder="__ - __")
            .row
              .col-lg-6
                .form__item.form-group
                  .form__label Адрес регистрации (по паспорту)
                  input.input.form-control(type="text")
            .row
              .col-lg-6
                .form__item.form-group
                  .form__label Кем выдан паспорт
                  input.input.form-control(type="text")
              .col-xl-2.col-lg-3.col-sm-6
                .form__item.form-group
                  .form__label Дата выдачи паспорта
                  .row
                    .col-6.col-sm-12
                      input.input.form-control(type="text")
              .col-xl-2.col-lg-3.col-sm-6
                .form__item.form-group
                  .form__label Код подразделения
                  .row
                    .col-6.col-sm-12
                      input.input.form-control(type="text", placeholder="___ - ___")
            .form__item.form-group
              .form__label.mb-15 Скан первой страницы паспорта/ID (с 2 сторон)*
              .row
                .col-xl-3.col-lg-4
                  .custom-file
                    input#customFile2.custom-file-input(type='file')
                    label.custom-file-label(for='customFile2') Выберите один или несколько файлов
                .form__file
                  span.form__file-name My_ID_scann2. pdf
                  a.form__file-remove(href="#")
      .row.mt-30.mt-xl-70
        .col-xl-3.col-lg-4.col-sm-6.d-flex.align-items-center.mb-20.mb-sm-0
          button.btn.btn-primary.w-100(type="submit") Зарегистрироваться
        .col-xl-9.col-lg-8.col-sm-6.d-flex.align-items-center
          .custom-control.custom-checkbox
            input#customCheck1.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck1') 
              span.custom-checkbox__title Даю согласие на обработку 
                a(href="#") персональных данных
  +footer
