.menu {
  background: $primary;

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    z-index: 3;
  }
  
  &__btn {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      width: 56px;
      height: 56px;
      background: $primary url(../img/menu.svg) no-repeat center;
      opacity: .8;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
    
    &--active {

      @include media-breakpoint-down(sm) {
        background: $primary url(../img/close-white.svg) no-repeat center;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }
  
  &__content {
    display: flex;
    align-items: baseline;
    padding: 16px 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
    
    &--active {

      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: $primary;
        z-index: 2;
      }
    }
  }
  
  &__item {
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    margin-right: 65px;
    @include transition;
    
    &:hover {
      color: #fff;
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 30px;
    }
    
    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }
  }
}
