mixin menu(data)
  .menu&attributes(attributes)
    .container
      a.menu__btn(href="#")
      .menu__content
        a.menu__item(href="#") О мероприятии
        a.menu__item(href="#") Деловая программа
        a.menu__item(href="#") Участникам
        a.menu__item(href="#") СМИ
        a.menu__item(href="#") Контакт
