mixin header(data)
  .header&attributes(attributes)
    .header__container
      .container
        .row
          .col-lg-3.col-md-4.col-6.order-2.order-sm-1.d-flex.align-items-center
            .header__logos-wrapper
              a.header__logo(href="#")
                img.img-fluid(src="./img/logo-1.svg", alt)
              a.header__logo(href="#")
                img.img-fluid(src="./img/logo-2.svg", alt)
          .col-lg-9.col-md-8.col-6.order-1.order-sm-2.position-static
            .header__wrapper
              .header__content
                h2.header__title Smart Industry
                p.text-gray.header__subtitle.mb-0 5-7 апреля 2021 г. <br>Ташкент, Узбекистан
              .header__language-wrapper
                a.header__language(href="#") Eng
                a.header__language.header__language--active(href="#") Rus
    +menu
