.header {
  
  &__container {
    display: flex;
    align-items: center;
    padding: 20px 0;

    @include media-breakpoint-down(sm) {
      padding-top: 70px;
    }
  }
  
  &__logos-wrapper {
    display: flex;
    align-items: center;
  }
  
  &__logo {
    display: flex;
    align-items: center;
    
    img {

      @include media-breakpoint-down(sm) {
        max-width: 64px;
        max-height: 68px;
      }
    }
    
    &+& {
      
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 72px;
        background: #AEAEAE;
        margin-left: 16px;
        margin-right: 16px;
        flex-shrink: 0;

        @include media-breakpoint-down(sm) {
          height: 52px;
          margin-left: 13px;
          margin-right: 10px;
        }
      }
    }
  }
  
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__content {
    
  }
  
  &__title {
    color: $dark;
    font-weight: 700;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
  
  &__subtitle {

    @include media-breakpoint-down(sm) {
      font-size: 11px;
    }
  }
  
  &__language-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 16px;
      right: 16px;
      flex-direction: row;
      z-index: 3;
    }
  }
  
  &__language {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: $dark;
    padding: 8px;
    @include transition;
    
    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      padding: 3.5px 7px;
    }
    
    &+& {
      margin-top: 5px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
        margin-left: 12px;
      }
    }
    
    &--active {
      color: #fff;
      background: $primary;
    
      &:hover {
        color: #fff;
      }
    }
  }
}
