.form {
  
  &__section {
    margin-top: 35px;

    @include media-breakpoint-down(sm) {
      margin-top: 15px;
    }
  }
  
  &__item {
    margin-bottom: 24px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 19px;
    }
  }
  
  &__label {
    font-size: 14px;
    line-height: 1;
    color: $gray;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 7px;
    }
  }
  
  &__file {
    display: flex;
    align-items: center;
    padding: 19px 17px 16px 24px;
    background: rgba(#aeaeae, .1);
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      width: calc(100% - 30px);
      justify-content: space-between;
      padding: 9px 12px 9px 9px;
    }
  }
  
  &__file-name {
    font-size: 14px;
    line-height: 1;
    color: $gray;
  }
  
  &__file-remove {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 23px;
    background: url(../img/remove.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      width: 8px;
      height: 8px;
      margin-left: 10px;
    }
  }
  
  &__accordion {
    margin-top: 5px;
  }
  
  &__accordion-btn {
    
  }
  
  &__accordion-content {
    display: none;
  }
}
